body {
	background-color: #87A96B;
}

.container {
    border-radius: 0.5em;
	background-color:white;
	padding: 2vw;
	text-align: center;
	border: 1px solid;
	margin: 0 auto;

	width: 85vw;
	max-width: 65em;
	height: 85vh;
	max-height: 55em;
}

#game {
	margin: 1vh auto;
	display: inline-block;
	background-color:blue;

	width: 70vw;
	max-width: 60em;
	height: 80vh;
	max-height:50em;
}
